.gradle/
.gradle-home/
build/
*.log
*.md
.idea/
*.iml
.vscode/
.git/
.env
.env.*
deployment/build/
deployment/gradle/
deployment/gradlew
deployment/gradlew.bat
admin-server/build/
admin-server/gradle/
admin-server/gradlew
admin-server/gradlew.bat
